<div class="row text-dark">
  <div class="col-10 col-md-8 col-lg-6 mx-auto mt-5">
    <h1>Créer Un compte</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form-group mt-3">
        <div class="input-group">
          <input type="text" formControlName="email" class="form-control" id="email" placeholder="mail address">
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="bi bi-envelope"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group mt-3">
        <div class="input-group">
          <input type="password" formControlName="password" class="form-control password" id="password" placeholder="password">
          <div class="input-group-append">
           <span class="input-group-text" toggle>
             <i class="bi bi-eye-slash"></i>
           </span>
          </div>
        </div>
      </div>

      <button class="btn btn-outline-primary mt-5" type="submit" [disabled]="registerForm.invalid">Créer le compte</button>
    </form>
    <p class="text-danger"> {{errMsg}}</p>
  </div>
</div>
