<div class="row">
  <div class="col-4 mx-auto mt-5">
    <h1>Créer Un compte</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Adresse email</label>
        <input type="text" formControlName="email" class="form-control" id="email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" id="password">
      </div>

      <button class="btn btn-outline-primary mt-5" type="submit" [disabled]="registerForm.invalid">Créer le compte</button>
    </form>
    <p class="text-danger"> {{errMsg}}</p>
  </div>
</div>
