<div class="row text-dark">
  <div class="col-12 col-md-6 mx-auto">
    <h1 class="h2 text-center">Ajout d'une colonne</h1>
    <form [formGroup]="createColonneForm" (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="name" class="required">Nom</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          formControlName="name"
          required
        />
        <small class="text-danger" *ngIf="createColonneForm.get('name').hasError('required')">
          Name is required !
        </small>
      </div>

      <div class="form-group mt-3">
        <label for="color" class="required">Couleur</label>
        <input [(colorPicker)]="color"
               [style.background]="color"
          class="form-control"
        formControlName="color"
        id="color"/>
      </div>



      <p class="mt-2 fst-italic"><small> (*) champs requis !</small></p>
      <button [disabled]="createColonneForm.invalid" class="btn btn-primary mt-5 mb-5" type="submit">Ajout</button>
      <button class="btn btn-danger mt-5 mb-5 ms-5 " type="button" (click)="createColonneForm.reset({})">Reset</button>
    </form>

  </div>
</div>
