<div class="row">
  <div class="col-12 col-md-6 mx-auto">
    <h1 class="h2 text-center">Modification job</h1>
    <form [formGroup]="editJobForm" (ngSubmit)="update()" >
      <div class="form-group">
        <label for="title">Titre</label>
        <input
          type="text"
          id="title"
          name="title"
          class="form-control"
          formControlName="title"
          required
          [value]="job.title"
        />
        <small class="text-danger" *ngIf="editJobForm.get('title').hasError('required')">
          Title is required !
        </small>
      </div>

      <div class="form-group mt-3">
        <label for="entreprise">Entreprise</label>
        <input
          type="text"
          id="entreprise"
          name="entreprise"
          class="form-control"
          formControlName="entreprise"
          required
          [value]="job.entreprise"
        />
        <small class="text-danger" *ngIf="editJobForm.get('entreprise').hasError('required')">
          Entreprise is required !
        </small>
      </div>

      <div class="form-group mt-3">
        <label for="offer_link">Lien offre</label>
        <input
          type="text"
          id="offer_link"
          name="offer_link"
          class="form-control"
          formControlName="offer_link"
          [value]="job.offer_link"
        />
        <small class="text-danger" *ngIf="editJobForm.get('offer_link').hasError('pattern')">
          Offer link has not the correct format! (should be : https://xxxxx.xx)
        </small>
      </div>

      <div class="form-group mt-3">
        <label for="salary">Salaire</label>
        <input
          type="number"
          id="salary"
          name="salary"
          class="form-control w-50"
          formControlName="salary"
          [value]="job.salary"
        />
        <small class="text-danger" *ngIf="editJobForm.get('salary').hasError('pattern')">
          Salary has not the correct format! (should be at least : 100)
        </small>
      </div>

      <div class="form-group mt-3">
        <label for="type">Type</label>
        <select name="type" id="type" class="form-control form-select" formControlName="type">
          <option value="" disabled>Choose type missions</option>
          <option value="CDI">CDI</option>
          <option value="CDD">CDD</option>
          <option value="freelance">Freelance</option>
        </select>
      </div>

      <button [disabled]="editJobForm.invalid" class="btn btn-warning mt-5 mb-5" type="submit">Modifier</button>
      <button class="btn btn-danger mt-5 mb-5 ms-5 " type="button" (click)="editJobForm.reset({})">Reset</button>
    </form>

  </div>
</div>
