<div class="row text-dark">
  <div class="col-12 col-md-6 mx-auto">
    <h1 class="h2 text-center">Modification colonne : "{{colonne.name}}"</h1>
    <form [formGroup]="editColonneForm" (ngSubmit)="update()" >

      <div class="form-group">
        <label for="name" class="required">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          formControlName="name"
          required
          [value]="colonne.name"
        />
        <small class="text-danger" *ngIf="editColonneForm.get('name').hasError('required')">
          Name is required !
        </small>
      </div>

      <div class="form-group mt-3">
        <label for="color" class="required">Couleur</label>
        <input [(colorPicker)]="colorChosen"
               [style.background]="colorChosen"
               class="form-control"
               formControlName="color"
               id="color"/>
      </div>


      <button [disabled]="editColonneForm.invalid" class="btn btn-warning mt-5 mb-5" type="submit">Modifier</button>
      <button class="btn btn-danger mt-5 mb-5 ms-5 " type="button" (click)="editColonneForm.reset({})">Reset</button>
    </form>

  </div>
</div>
